---
import { getCollection, render } from "astro:content";
import PostLayout from "../../layouts/PostLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const formattedDate = new Date(post.data.pubDate).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---
<PostLayout>
    <section id="header" class="flex flex-col p-6">
                <h1 class="text-center text-5xl mb-6">{post.data.title}</h1>
                <p class="text-center text-xl">By {post.data.author}</p>
                <p class="text-center italic">{formattedDate}</p>
    </section>
    <section id="content" class="min-h-screen text-xl px-6">
  <article class="prose prose-lg dark:prose-invert max-w-none">
    <Content />
  </article>
</section>
</PostLayout>
