@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'Hammer Fat';
    src: url('../assets/hammerfat.ttf');
}


@theme {
    --font-display: "Roboto", "sans-serif";
    --font-navbar: "Hammer Fat", "sans-serif";
    --color-vermillion: #D83114;
    --color-dark-vermillion: #C70039 ;
    --color-extra-dark-vermillion: #901E3E;
    --color-special-yellow: #FFC107;
}

@custom-variant dark (&:where(.dark, .dark *));

.bar {
  @apply block h-1 w-full bg-special-yellow dark:bg-amber-500 rounded transition-all duration-500 ease-in-out;
}

.hamburger.open .bar:nth-child(1) {
    /* background-color: rebeccapurple; */
  transform: rotate(45deg) translateY(1.1rem);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-1.1rem);
}

/* CSS for displaying source code */
pre {
  width: 100%;
  overflow-x: auto;
  margin: 1rem;
  padding: 1rem;
  font-family: "Roboto Mono", monospace;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: darkslategrey;
}

.dark code {
  background-color: slategrey;
  color: darkblue
}

code {
  display: block;
  white-space: pre;
}
