---
import Hamburger from "./Hamburger.astro";
import SocialBar from "./SocialBar.astro";
import NavLink from "./NavLink.astro";
import DarkModeButton from "./DarkModeButton.astro";
---

<nav class="w-full flex" role="navigation" aria-label="Main navigation">
  <div class="flex items-center justify-between w-full">
    <div class="brand">
      <a href="#" class="text-3xl font-bold whitespace-nowrap"
        >Gripweed Consulting</a
      >
    </div>
    <Hamburger />
  </div>
  <ul
    class="navMenu hidden absolute top-14 left-0 w-full py-3 md:py-0 text-center md:flex md:items-center md:w-fit md:static md:gap-4 bg-dark-vermillion dark:bg-extra-dark-vermillion md:bg-transparent dark:md:bg-transparent text-xl"
  >
    <NavLink url="/" text="Home"/>
    <NavLink url="#" text="About"/>
    <NavLink url="#" text="Blog"/>
     <DarkModeButton/>
      <SocialBar/>  
  </ul>
</nav>
