---
import SelectedIcon from "./SelectedIcon.astro";
const socials = ["upwork", "reddit", "linkedin", "x"];
---

<li class="flex justify-center items-center h-7">
  <ul class="flex gap-2 text-sm">
    {
      socials.map((social) => (
        <li>
          <a href="#">
            <SelectedIcon name={social} class="hover:text-amber-500 dark:hover:text-amber-400 cursor-pointer" />
          </a>
        </li>
      ))
    }
  </ul>
</li>
