---
import SelectedIcon from "./SelectedIcon.astro";
const socials = [
  { platform: "upwork", url: "#" },
  { platform: "reddit", url: "#" },
  { platform: "linkedin", url: "#" },
  { platform: "x", url: "#" },
];
---

<li class="flex justify-center items-center h-7">
  <ul class="flex gap-2 text-sm">
    {
      socials.map((social) => (
        <li>
          <a
            href={social.url || "#"}
            aria-label={social.platform}
            target="_blank"
            rel="noopener noreferrer"
          >
            <SelectedIcon
              name={social.platform}
              class="hover:text-amber-500 dark:hover:text-amber-400 cursor-pointer"
            />
          </a>
        </li>
      ))
    }
  </ul>
</li>
