---
import BaseLayout from "./BaseLayout.astro";
---
<BaseLayout>
    <slot/>
    <section class="text-center">
        <a href="/blog" class="text-2xl hover:underline">Return to Blog</a>
    </section>
</BaseLayout>